<div id = "quickSearch">
    <span id ="quickHeading">Quick Search</span>
    <span id="quickSubHeading">Discover Restaurant By Meal</span>
    <div id = "mainBox">
        <div class= "tileContainer" *ngFor="let meal of mealType">
            <div class= "tileComponent1">
                <img [src]="meal.meal_image" alt="image"/>
            </div>
            <div class= "tileComponent2">
                <div class ="componentHeading">
                    <a href = '../listing/listing.html'>{{meal.mealtype}}</a>

                </div>
                <div class = "componentSubHeading">{{meal.content}}
                </div>
                
            </div>
        </div>
        <!-- Title Container2 Start Here -->
    
        
       
    </div>
</div>
