<div id ="search">
    <div id ="logo">
        <span>E!</span>
     </div>
     <div id ="heading">
      {{title}}
    </div>

      <div id = "dropdown">
          <select (change)="handleCity($event)">
              <option value="default">--SELECT YOUR CITY--></option>
              <option *ngFor = "let loc of locationData">
                {{loc.state}}
              </option>
          </select>
          <select id = "restaurant">
            <option value = "default">Select Your Restaurant</option>
            <option *ngFor = "let rest of restaurants">{{rest.restaurant_name}}--{{rest.address}}</option>
        </select>
      </div>
</div>